#gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns:  auto auto auto auto;
  column-gap: auto;
  text-align: center;
  /* margin: 0 auto; */
}

#protanomaly {
  filter: url('#protanomaly');
}

#protanopia {
  filter: url('#protanopia');
}

#deuteranomaly {
  filter: url('#deuteranomaly');
}

#deuteranopia {
  filter: url('#deuteranopia');
}

#tritanomaly {
  filter: url('#tritanomaly');
}

#tritanopia {
  filter: url('#tritanopia');
}

#achromatomaly {
  filter: url('#achromatomaly');
}

#achromatopsia {
  filter: url('#achromatopsia');
}

#text-box{
  width: 200%;
  text-align: center;
  font-size: x-large;
}

#submit-button{
  font-size: large;
}

.input-area{
  width: 75%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}

.sim{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 300px;
}
